@using MyPortfolio.Models
@rendermode InteractiveServer
@inject FirestoreService FirestoreService

<section class="about-section">
    <div class="container-fluid pt-2 pb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8 px-4">
                <div class="about-box p-4 p-md-5 text-white">
                    <ul class="nav nav-tabs custom-tab-style mb-4">
                        <li class="nav-item">
                            <a class="nav-link @(activeTab == "about" ? "active" : "")"
                               href="#"
                               @onclick="@(() => SetTab("about"))">Om mig</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(activeTab == "projects" ? "active" : "")"
                               href="#"
                               @onclick="@(() => SetTab("projects"))">Projekt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(activeTab == "cv" ? "active" : "")"
                               href="#"
                               @onclick="@(() => SetTab("cv"))">Cv</a>
                        </li>
                    </ul>



                    <div class="tab-content p-4 p-md-5 text-white">
                        @if (activeTab == "about")
                        {
                            <div>
                                <p>
                                    Jag kommer från transportvärlden där jag i över tio år planerade rutter, körde lastbil och såg tekniken förändra allt
                                    – från papper & penna till appar och el-lastbilar. Till slut blev det tydligt...
                                    jag ville inte bara använda tekniken, jag ville vara med och bygga den!
                                </p>
                                <p>
                                    Tekniken gick från att vara ett verktyg till något jag inte kunde vara utan.
                                    Idag utbildar jag mig till .NET Cloud Developer på IT-Högskolan i Göteborg och fokuserar
                                    på backendutveckling & molntjänster i Azure
                                    – med mål att skapa något som gör nytta!
                                </p>
                            </div>
                        }
                        else if (activeTab == "projects")
                        {
                            <div class="row g-4 justify-content-center">
                                @foreach (var project in projects?.Take(visibleCount) ?? Enumerable.Empty<Project>())
                                {
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-6">
                                        <div class="project-card">
                                            <ProjectCard Project="project" />
                                        </div>
                                    </div>
                                }
                            </div>

                            @if (projects?.Count > step)
                            {
                                <div class="text-center mt-3 d-flex justify-content-center gap-2">
                                    @if (visibleCount < projects.Count)
                                    {
                                        <button class="btn btn-outline-success" @onclick="ShowMore">Visa fler</button>
                                    }
                                    @if (visibleCount > step)
                                    {
                                        <button class="btn btn-outline-secondary" @onclick="ShowLess">Visa färre</button>
                                    }
                                </div>
                            }



                        }
                        else if (activeTab == "cv")
                        {
                            <div>
								<CvSection />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {
    private string activeTab = "about";

    private void SetTab(string tab)
    {
        activeTab = tab;
    }

    private List<Project>? projects;
    private int visibleCount = 4;
    private const int step = 4;

    protected override async Task OnInitializedAsync()
    {
        projects = await FirestoreService.GetProjectsAsync();
    }

    private void ShowMore()
    {
        visibleCount += 4;
    }

    private void ShowLess()
    {
        visibleCount = step;
    }
}